node_modules/*
.project
.pydevproject
/node_modules
config.js
public/dev.html
.pydevprojectpublisher/content
.externalToolBuilders
.externalToolBuilders/*

*.log
.idea/*config.js
config.js
config.js
dump.rdb
