<!DOCTYPE html>
<html>
	<head>
		<title>网站状态分析</title>
	</head>
	<body>
		<script type="text/javascript" src="http://botobe.net/js/libs/lazyload.js"></script>
		<script type="text/javascript">
			LazyLoad.js('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function() {
				
			});
		</script>
	</body>
</html>