<!DOCTYPE html>
<html>
	<head>
		<title>网站状态分析</title>
	</head>
	<body>
		<!-- 数据分析 -->
		<script type="text/template" id="template">
			
		</script>
		<script type="text/javascript" src="http://botobe.net/js/libs/lazyload.js"></script>
		<script type="text/javascript">
			LazyLoad.js('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function() {
				var tplEl = $('template');
				$.post('/site/status?isAjax=1', function(data) {
					
					
				}, 'json');
			});
		</script>
	</body>
</html>