* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

li {
    list-style: none;
}