* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.left {
	float: left;
}

.right {
	float: right;
}

li {
	list-style: none;
}

.clearfix {
	*zoom: 1
}

.clearfix:after {
	content: "\20";
	display: block;
	clear: both
}

pre {
	line-height: 17px;
}
