.dialog {
	font-size: 12px;
	position: absolute;
	width: 400px;
	border: 1px solid #ccc;
	background-color: #F1F1F1;
}

.dialog .title {
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
}

.dialog .dialog-title {
	color: #FF6000;
	background-color: #2B2B2B;
	height: 40px;
	line-height: 40px;
	cursor: move;
}

.dialog .dialog-title a {
	color: #fff;
	margin-right: 15px;
}

.dialog .dialog-content {
	padding: 15px;
}

.dialog .dialog-footer {
	text-align: right;
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
}

.dialog .dialog-footer a {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin-left: 10px;
	outline: none;
	height: 30px;
	line-height: 30px;
	color: #333;
}

.dialog .dialog-footer a:hover {
	background-color: #ccc;
}
