<div class="main left">
    <div class="introduction-1"></div>
    <div class="introduction-2"></div>
    <div class="introduction-3"></div>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>