<div class="main left">
	<p style="height:700px;"><br>
	<strong>“咳咳… 我郑重宣布，这个地盘是我的了。”</strong><br>
	“过来松松土，插上一块地标性的图标！也就是本站点的LOGO啦，哈哈哈。”<br><br><br>
	<img class="alignnone size-full wp-image-103 <%= (isIE6)?'pngfix':'' %>" title="icon" src="<%= site.SITE_STATIC_URL %>/images/icon.png" alt="" width="166" height="209">
	</p>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>